  body{
    background-color:#F8F8F8;
  }
 .fa-bars{
    color:white;
  }
  i.fa-user{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: white;
  } 
  .circle-user{
    color:#3C5A9A;
  }

  .content-block{
    width: 950px;
    background-color:#FFFFFF;
    margin-top: 35px;
    margin-bottom: 100px;
  } 
   .card-img{
    width: 200px;
    height: 250px;
  }

  .card-body{
    margin-top:5px;
    margin-left: 40px;
   
  }
  .card-text{
    overflow-wrap:break-word ;
  }
  .float-content{
    position: relative;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    }
  .float-left{
    position: absolute;
    left: 1px;
    bottom:-45px;
    color: #36599C;
  }
  .float-right{
    position: absolute;
    right: -10px;
    bottom:-50px;
  }
  
  .card.mb-3{
    margin: 5px 5px -1px 0px;
    background-color: #F8F8F8;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  }
  .btn-left{
    background-color:#3C5A9A;
    color: white;
    font-weight: 800;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #3C5A9A;
  }
  .btn-right{
    background-color: white;
    color:#3C5A9A;
    font-weight: 800;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #3C5A9A;
  }
  .btn-left:hover{
    color:white;
  }
  .btn-right:hover{
    color: #3C5A9A;
  }
  .btn-total{
    margin-top:15px;
    margin-bottom: 15px;
  }

 

/* Second-content */
.second-content ul{
  margin-top: 30px;
  list-style-type:none;
  position: absolute;
  top:50px;
  left: 15px;
  line-height:2.0 ;
}
.second-content .container{
    position: relative;
    top: 0;
    left: 0;
}
.second-content li{
  font-weight: 900;
  color: #888888;
 }
.second-content li:hover{
 color: #3C5A9A;
 cursor: pointer;
}

.card-title{
  font-size: 100px;
}

/* Modal */
.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 300px !important;
}





/* @media (max-width: 380px) { 
  .navbar {
     width: 550px; 
  }
 } */

 @media (max-width: 575px) { 
  .navbar {
     width: 550px; 
  }
  .content-block{
    max-width: 550px;
  } 
  .second-content ul{
   line-height: 1.5;
   position: absolute;
   top:50px;
   left: -25px;
  }
 }
@media(max-width:415px){
  .second-content ul{
    margin-top: 50px;
    line-height:1.5 ;
  }
  .float-left{
    margin-bottom:55px;
  }
  .float-content .float-right{
    margin-bottom: 55px;
    margin-right: 10px;
  }
  .float-content .float-right .text-muted{
    font-size: 15px;
}
}
@media(max-width:375px){
  .second-content ul{
    margin-top: 32px;
    line-height:1.5 ;
  }
  .float-left{
    margin-bottom:55px;
  }
  .float-content .float-right{
    margin-bottom: 55px;
    margin-right: 10px;
  }
 
}
@media(max-width:380px){
  .second-content ul{
    margin-top: 32px;
    line-height:1.5 ;
  } 
  .float-content .float-right .text-muted{
    font-size: 15px;
}
}

  @media (max-width:1200px){
    .card-body{
      margin-left: 35px;
    }
    .card-img{
      width: 250px;
      height: 270px;
    }
    .card-body{
      margin-left: 90px;
    }
    .content-block{
      margin-top: 83px;
    }
    .second-content ul{
      position: absolute;
      top:40px;
      left: 15px;
    }
    .float-right .text-muted{
        font-size: 10px;
    }
  }

  @media (max-width:992px){
    .card-body{
      margin-left: 75px;
    }
   
    .card-text{
      font-size: 12px;
    }
    .card-img{
      width: 190px;
      height: 290px;
    }
  }
  @media (max-width:768px) {
    .float-left{
      position: absolute;
      left: -10px;
      bottom:-65px;
    }
    .float-right{
      position: absolute;
      right: -20px;
      bottom:-65px;
    }
    .float-right .text-muted{
      font-size: 7px;
      font-weight: 300;
  }
  }
  @media (min-width:768px)and(max-width:770px) {
    .card-body{
      margin-left: -1px;
    }
    .card-text{
      font-size: 15px;
    }
    .card-img{
      width: 235px;
      height: 239px;
    }
   
  }
  @media (max-width:577px){
    .card-body{
      margin-left: 3px;
    }
    .card-text{
      font-size: 12px;
    }
    .card-img{
      width: 500px;
      height: 350px;
      
    }
    .card.mb-3{
      width: 502px;
      margin: 20px 10px 0px 10px;
    }
    .content-block{
      width: 550px;
      margin-top: 50px;
    }
  } 
  @media (min-width: 576px)
{
  .navbar-expand-sm .navbar-collapse{
    height: 40px;
  }
}