.navbar{
  background-color: #3C5A9A;
}
.fa-bars{
  color:white;
}
.navbar a{
  color: white;
  font-weight: 800;
}
.navbar-nav {
    margin-right: 100px;
}
.navbar-brand {
  margin-left: 80px;
}
.form-control.form-search
{
  width: 35%;
}

.form-group{
  width: 300px;
  margin:0px 50px 10px 30px;
}
/* khung Sign up*/
strong{
  font-weight: bold;
}
.sign-up{
  background-color:#3C5A9A;
  color: white;
}
.index-page .card{
    width: 400px;
    border-radius: 10px; 
}
 #card-logo{
  width: 290px;
  height: 70px;
  margin:10px 0px 20px 0px;
}
#card-login{
  margin-bottom: 100px;
  background-color: #f7f7f7;
}
.card .card-body img{
  display:inline-block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: -12px 5px 0px 20px;
}
h2{
  text-align: center;
  margin-top:50px; 
  font-weight:800;
  font-size: 35px;
  color:#3C5A9A ;
}
/* Form login */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
  
.form-signin input[type="text"]
{
    margin-bottom: -1px;  
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    width: 300px;
    height: auto;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin-bottom: 25px;
}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.link-forget{
  margin: 35px 0px -20px 85px;
}
.new-account
{
    margin-left: 30px;
    margin-bottom: 50px;
}
.form-log{
  margin-bottom: 50px;
}
.login{
  background-color:#3C5A9A ;
  margin-left:90px ;
  color: #fff;
  width: 100px;
  display: block;
}


/* feed */
 .container-background{
  background-color: blue;
  max-width:950px;
  margin-top: 80px ;
} 
.container-background .card{
  border-radius: 0;
  margin:20px 90px 20px 20px ;

}
.container-background .card img{
  max-width: 229px;
  max-height: 229px;
  margin-left: 15px;
  display: block;
}
/* .card-img-top{
  width: 100px;
} */





/* responsive */
@media (max-width: 576px) {
  .index-page .card{
    width: 350px;
  }
   .form-group{
    width: 250px;
    margin:0px 50px 10px 30px;
  }
  #card-logo{
    width: 250px;
    height: 80px;
    margin-top:10px;
  }
  .index-page .card .card-body img{
    display:inline-block;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    margin: -5px 5px 0px 10px;
  }
  .form-control.form-search
  {
    max-width: 90%;
  }

  .navbar a strong{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  /*Login*/
.account-wall
{
    width: 350px;
    height: 400px;
    margin-top: 15px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.form-login
{
    max-width: 320px;
    padding: 5px;
    margin: 0 auto;
}
/* nav-search */
.form-control.form-search
{
  width: 100%;
} 
}

/* feed */




@media (max-width: 376px) {
  /* sign up */
  .index-page .card{
   width: 300px;
  }
  .form-group{
   width: 200px;
   margin:0px 50px 10px 30px;
 }
 /* login */

  /* nav-search */
  .form-control.form-search
{
  width: 100%;
}
.navbar a strong{
  font-size: 30px;
}
.navbar-brand {
  margin-left: 40px;
}


}
@media (max-width: 325px) {
  .index-page .card{
   width: 270px;
  }
  .form-group{
   width: 190px;
   margin:0px 20px 10px 20px;
 }

.text-center .sign-up{
  width: 100px;
}
.index-page .card .card-body img{
  display:inline-block;
  max-width:40px;
  max-height:40px;
  width: auto;
  height: auto;
  margin: -10px 5px 0px 7px;
}
#card-logo{
  width: 210px;
  height: 60px;
  margin:10px 0px 20px 0px;
}
h2{
  font-size: 25px;
}
/*Login*/

}
@media (max-width:287px){
  .index-page .card{
    width: 200px;
   }
  .form-group{
    width: 130px;
    margin:0px 20px 10px 20px;
  }
}

@media (max-width: 380px) { 
  .account-wall
{
    width: 250px;
    height: auto;
}
.login{
  margin-left:60px ;
}
.link-forget{
  margin-left: 55px;
}
.left .new-account
{
    margin-left:-20px;
}
 }

@media (max-width: 578px){
  .account-wall
  {
      width: 250px;
      height: 350px;
  }
  .link-forget{
    margin-bottom: -10px;
    margin-left: 55px;
  }

  .left .new-account
{
    margin-left:20px;
}
.login{
  margin-left:60px ;
}
}
@media(max-width: 992px){
  .container-background{
    width: 830px;
  } 
  .container-background .card{
    width: 350px;
    height: 230px;
  }
}