<h1>Users#index</h1>
<% @users=User.all%>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Confirpassword</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td><% User.firstname%></td>
    
    </tr>
   
  </tbody>
</table>
