
.navbar-nav {
    margin-right: 100px;
}
.navbar-brand {
  margin-left: 80px;
}
.form-nav{
  width: 450px;
}


.form-container{
    position: absolute;
    top: 150px;
    background-color: #fff;
    width: 400px;
    padding:30px ;
    border-radius: 10px;
    box-shadow:0px 0px 10px 0px #000;
}
.form-group{
  margin: 10px 30px;
}



@media (max-width: 574px) {
   
}


@media (max-width: 767.98px) { 
    
}


@media (max-width: 991.98px) { 
 }


@media (max-width: 1326px) { 
    
 }

@media (min-width: 100px) { 

}


@media (min-width: 768px) { 
  
 }


@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) { 
    
 }